<section class="section certificates animate">
    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="section__info">
            <div class="section__head">
              <h2 id="{{ include.title | slugify }}" class="section__title">{{ include.title }}</h2>
            </div>
            <div class="section__description">
              {{ include.description_html }}
            </div>
          </div>
  
          {% if include.show_certificates %}
            <div class="certificates__slider my-slider">
              {% for certificate-item in site.certificates %}
                {% bookshop certificate-card certificate-item=certificate-item %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>